---
BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 120
UseTab: Never
BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: None
DerivePointerAlignment: false
PointerAlignment: Right
Standart: C++17
SortIncludes: false
NamespaceIndentation: All
